.btn {
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--border-radius);
  font-size: 15px;
  font-weight: 500;
  border: 1px solid;
  transition: all var(--transition-speed) ease-in-out;
  white-space: nowrap;
}

.btn-primary {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: #FFFFFF;
}

.btn-primary:hover:not(:disabled) {
  background-color: #6D0000;
  border-color: #6D0000;
}

.btn-secondary {
  background-color: transparent;
  border-color: var(--color-border);
  color: var(--color-text-primary);
}

.btn-secondary:hover:not(:disabled) {
  border-color: var(--color-text-primary);
}

.btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.btn-full-width {
  width: 100%;
}
